# copy this file as message.properties, and update the values: refreshToken, clientId, and clientSecret
title=hello
loading=loading...
appengine.app.version=${appengine.app.version}
appengine.module.ranking=${appengine.module.ranking}
# How to get the following values? See https://docs.google.com/presentation/d/1D_nGz3iRO593CQKBTHWbnKaADiv1mtESytF4HC3sz04/edit
clientId=<put your client id here>
clientSecret=<put your client secret here>
refreshToken=<put your refresh token here>
metaSpreadsheet=<put your meta spreadsheet url here, e.g. https://docs.google.com/spreadsheets/d/1RhmsOGeiy6lRpdLJlYGdZ3TAAlaYb2IVfiGI5C0jZno/edit#gid=0>
creditRanking=<e.g. https://docs.google.com/spreadsheets/d/1RhmsOGeiy6lRpdLJlYGdZ3TAAlaYb2IVfiGI5C0jZno/edit#gid=1345071268>
streakRanking=<e.g. https://docs.google.com/spreadsheets/d/1RhmsOGeiy6lRpdLJlYGdZ3TAAlaYb2IVfiGI5C0jZno/edit#gid=351625001>
event=<e.g. https://docs.google.com/spreadsheets/d/1RhmsOGeiy6lRpdLJlYGdZ3TAAlaYb2IVfiGI5C0jZno/edit#gid=186033074>
chapter=<e.g. https://docs.google.com/spreadsheets/d/1RhmsOGeiy6lRpdLJlYGdZ3TAAlaYb2IVfiGI5C0jZno/edit#gid=304382967>