

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Roboto;
	font-size: 100%;
	font-style: normal;
	background-color: transparent;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	/*cursor: none;*/
}


#logo {
	position: absolute;
	top: 10%;
	left: 2%;
	width: 45%;
	z-index: 99;
}


#fundo {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}



video {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;

	z-index: -1;

	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);

}


h1 {
	position: absolute;
	font-size: 3em;
	width: 100%;
	margin: 0;
	padding: 0;
	bottom: 45%;
	text-align: center;
	font-weight: lighter;

}

h2 {
	position: absolute;
	bottom: 0;
	font-size: .8em;
	left: 0;
	z-index: 10;
	margin: 0 auto;
	padding: .8em 0;
	width: 100%;
	text-align: center;
	font-weight: lighter;
	color: #000;
}

h2 a, h2 a span {
	color: inherit;
}


#begin {
	z-index: 999;
}


#checkin {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8em;
	left: 0;
	background: linear-gradient(transparent, rgba(0,0,0,.5)); /* Standard syntax */

}

#checkin label {
	display: none;
	margin: 1em auto;
	padding: 0;
	width: 95%;
	z-index: 3;
}

#checkin input {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 95%;
	outline: none;
	border: solid 1px #fff;
	padding: .2em;
	font-size: 3em;
	background-color: #fff;
	z-index: 3;
	text-align: center;
}


















#begin {
	text-align: center;
	font-size: 2em;
	line-height: 2em;
	cursor: default;
}

#begin input {
	display: block;
	margin: 30px auto 0;
	outline-width: 0;
}


#checkin, #result, #outdiv, #begin {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: none;
	color: rgb(0, 0, 0); /* #fff */
	/*box-shadow: 3px 3px 5px 6px #000;*/
}


#begin, #result, #outdiv {
	background-color: rgba(0, 0, 0, .8); /* 66, 133, 244 - 0, 190, 164*/
	height: 30%;
}


#begin {
	padding-top: 50%;
}


#result, #outdiv {
	font-size: 2em;
	line-height: 20;
	text-align: center;

	display: block;
	height: 100%;
	z-index: 100;
	color: #fff;
}
}

